#Home{

  background-image: url('https://static.pexels.com/photos/176851/pexels-photo-176851.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  margin-bottom: 0px;
  text-align: center;
  color: white;
}
#AboutMe{
  background-image: url('https://static.pexels.com/photos/30732/pexels-photo-30732.jpg');
  background-color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 950px;
  margin-bottom: 0px;
  color: white;
}
#Projects{
  background-image: url('https://static.pexels.com/photos/90807/pexels-photo-90807.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 950px;
  margin-bottom: 0px;
  text-align: center;
  color: white;
}
#ContactMe{
  background-image: url('https://static.pexels.com/photos/230872/pexels-photo-230872.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  margin-bottom: 0px;
  color: white;
}
.navbar{
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}
.navbar-nav{
  width:100%;
  text-align: center;
}
.navbar-nav > li{
  opacity: 1.0;
  font-size: 22px;
  float: none;
  display: inline-block;
}
.navbar-default .navbar-nav >li >a{
  color: #fff;
}

/*http://www.everystockphoto.com/photo.php?imageId=677600&searchId=6cad826248cd3f4e93da71e7b49928e3&npos=11*/
