#Home{
  min-height: 1000px;
  margin-bottom: 0px;

  text-align: center;

  color: white;
  background-image: url('https://static.pexels.com/photos/35098/pexels-photo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.jumbotron > .container > h1{
  font-size: 70px;
}
.nav > li > a{
  font-size: 30px;
}
#AboutMe{
  min-height: 950px;
  margin-bottom: 0px;

  color: white;
  background-color: white;
  background-image: url('https://static.pexels.com/photos/30732/pexels-photo-30732.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#Projects{
  min-height: 950px;
  margin-bottom: 0px;

  text-align: center;
  color: white;
  background-image: url('https://static.pexels.com/photos/159356/keyboard-type-computer-internet-159356.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#ContactMe{
  min-height: 920px;
  margin-bottom: 0px;

  color: white;
  background-image: url('https://static.pexels.com/photos/230872/pexels-photo-230872.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.navbar{
  border-color: transparent;
  background: transparent;
  background-color: transparent;
  box-shadow: none;
}
.navbar-nav{
  width:100%;

  text-align: center;
}
.navbar-nav > li{
  display: inline-block;
  float: none;

  opacity: 1.0;
  color: white;

  font-size: 22px;
}
.navbar-default .navbar-nav >li >a{
  color: #fff;
}
.navbar-default .navbar-nav >li >a:hover{
  color: #fff;

  font-size: 34px;
  /*
  text-decoration: underline;
  */
}
.navbar-default .navbar-nav >li >a:visited{
  color: #fff;
}
